<table width="770" border="0" align="center" cellpadding="5" cellspacing="0" bgcolor="#000066">
  <tr>
    <td height="30" align="center" valign="middle"><p align="center" class="footertext">Parkwood Eye Center &nbsp;&bull;&nbsp; <a href="DrivingDirections.php">177 Parkwood Drive - Elkin, NC 28621</a> &nbsp;&bull;&nbsp; (336) 835-3400 <br>
&copy;2019 Parkwood Eye Center, PA &nbsp;&bull;&nbsp; All Rights Reserved &nbsp;&bull;&nbsp; <a href="ParkwoodPrivacyPolicy.pdf" target="_blank">Our Privacy Policy</a></p></td>
  </tr>
</table>
