<link href="../parkwood.css" rel="stylesheet" type="text/css">
<div align="center">
  <p><img src="images/parkwood_image.gif" alt="Parkwood Eye Doctors - Yadkin Valley, NC Optomologists." width="658" height="752"></p>
  <p><?php echo "$title"; ?> - Parkwood Eye Center - Elkin, NC -
</p>
  <p>Elkin North Carolina eye doctors - Serving the Yadkin Valley of North Carolina's eye care needs since 1991. </p>
  <p>Serving the Yadkin Valley's eye care needs since 1991. The experienced and caring professionals at Parkwood Eye Center provide quality comprehensive ophthalmology services to the residents of North-Western North Carolina.</p>
  <p>Parkwood's eye doctors offer our patients ophthalmology, eyecare and care for the eyes of their family in Elkin, NC.</p>
  <p>We also serve Jonesville, North Carolina and the entire Yadkin Valley with the best in eye care services.</p>
  <p>Eye Doctors in Surry County, NC<br> 
  </p>
  <p>&nbsp; </p>
</div>
