body {
	margin-left: 5px;
	margin-top: 10px;
	margin-right: 5px;
	margin-bottom: 5px;
	background-color: #CDCB9B;
}
body,td,th {
	color: #000066;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
a:link {
	color: #000099;
}
a:visited {
	color: #006600;
}
a:hover {
	color: #0000CC;
}
a:active {
	color: #0000CC;
}
.whitetext {color: #FFFFFF}
.topnavlinks {
	color: #FFFFFF;
	line-height: 18px;
}
.topnavlinks a:link {
	color: #FFFFFF;
	text-decoration: none;
}
.topnavlinks a:hover {
	color: #FFFFFF;
	text-decoration: underline;
}
.topnavlinks a:visited {
	color: #FFFFFF;
	text-decoration: none;
}
.size18bold {
	font-size: 18px;
	font-weight: bold;
}
.size10font {font-size: 10px}
.size16boldwhite {
	font-size: 16px;
	font-weight: bold;
	color: #FFFFFF;
}
.footertext {
	color: #FFFFFF;
	font-size: 10px;
	line-height: 16px;
}
.footertext a:link {
	color: #FFFFFF;
}
.footertext a:hover {
	color: #yellow;
}
.footertext a:visited {
	color: #FFFFFF;
}
.size14text {font-size: 14px}
.greentext {color: #003300}
.size24 {font-size: 24px}
.size18times {
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
	font-size: 18px;
}