<table width="100%"  border="0" cellspacing="0" cellpadding="3">
  <tr>
    <td><div align="center"></div></td>
  </tr>
  <tr>
    <td><p align="center" class="size16boldwhite"><span class="size14text">New Patients:</span></p></td>
  </tr>
  <tr>
    <td><div align="justify"><span class=whitetext>Print and fill out your <a href="/images/questionaire.pdf" target="_blank"><font color="#FFFFFF">questionnaire</font></a> and your <a href="/images/PatientInfo2015.pdf" target="_blank"><font color="#FFFFFF">patient info form</font></a> to avoid having to fill them out when you arrive at the office.</span></div></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td><div align="center"><span class="size16boldwhite"><span class="size14text">Appointments</span></span></div></td>
  </tr>
  <tr>
    <td><div align="center"><span class=whitetext>Call to schedule:</span></div></td>
  </tr>
  <tr>
    <td><div align="center"><span class=whitetext><strong>Monday</strong><br>
        8:00am to 6:00pm</span></div></td>
  </tr>
  <tr>
    <td><div align="center"><span class=whitetext><strong>Tuesday through Friday</strong><br>
        8:00am to 5:00pm</span></div></td>
  </tr>
</table>
