<div align="center"><span class="topnavlinks"><a href="OphthalmologyServices.php">Services</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp; <a href="ContactLenses.php">Contact Lenses</a> &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp; <a href="EyeGlasses.php">Eye Glasses</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp; <a href="ElkinEyeDoctors.php">Our Doctors</a><br>
      <a href="LearnAboutTheHumanEye.php">Self Education Center</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;<a href="DrivingDirections.php">Driving Directions</a> &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;<a href="Contact.php">Contact Us</a> &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;<a href="Home.php">Home Page</a></span></div>
